version: '2.1'
services:
  mysql:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PW:-root}"
      MYSQL_DATABASE: "test"
      MYSQL_USER: "${DB_USER:-test}"
      MYSQL_PASSWORD: "${DB_PASSWORD:-test}"
      TZ: "Europe/Berlin"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.4
    environment:
      TZ: "Europe/Berlin"
      discovery.type: "single-node"
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"

  php:
    image: ghcr.io/elbformat/sulu-behat-bundle/php
    environment:
      DATABASE_URL: 'mysql://test:test@mysql:3306/test?serverVersion=mariadb-10.6.15'
      ELASTICSEARCH_HOST: 'elasticsearch:9200'
      MAILER_DSN: 'null://localhost'

    depends_on:
      - mysql
    volumes:
      - ./:/var/www
